@model Jadhav.Question2.Models.Books

@{
    ViewBag.Title = "BookDetails";
}

<h3>Book Name : @Model.BookName</h3>
<ul>

    <li><b>Price: </b>@Model.ISBN</li>
    <li><b>Quantity: </b>@Model.Genre</li>
    <li><b>AuthorName : </b>@Model.AuthorName</li>
</ul>


